<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lwy.bootws.dao.GroupDao">

    <select id="findGroups" resultType="com.lwy.bootws.bean.Group">
        SELECT id, group_name groupName FROM `group`
	</select>

</mapper>